extends layouts/default
include helpers/mixins

block variables
	- const title = "Breguet"

block content
	include ../blocks/modules/header/header
	main
		- var sectionClass = " section"
		include ../blocks/modules/section/section
			block sectionContent
				.section__row
					.section__item
						h2.section__title.
							LUXURY <span class="text_color_blue text_block">WATCH</span>
						p.section__text.
							Breguet is a highly regarded watch manufacturer. 
							Over the years, notable Breguet patrons and timepieces owners 
							include King George III, Queen Victoria, Alexandre I of Russia, 
							Napoléon Bonaparte, Ettore Bugatti, Sir Winston Churchill, 
							Sergei Rachmaninoff, Gioachino Rossini, Arthur Rubinstein and so on. 
							In particular, the Breguet & Fils, Paris No. 
							2667 (1814) pocket watch ranks as one of the world's most expensive 
							watches ever sold at auction, fetching US$4.69 million 
							(4,339,000 CHF) in Geneva on May 14, 2012.
						a.section__link(href="/").
							go to catalogue
							<img src="/img/arrow_blue.png" alt="">	
					.section__img
						img(src="/img/watch.jpg", alt="")
						- infoClass = ' section__infoBlock'
						-
							var info = [
								{
									title: '100+',
									fLine: 'famous clients all over',
									sLine: 'the world'
								},
								{
									title: '50+',
									fLine: 'famous clients all over',
									sLine: 'the world'
								}
							]
						include ../blocks/components/info-block/info-block
		- sectionClass = " section"
		include ../blocks/modules/section/section
			block sectionContent
				.section__row
					.section__item
						h2.section__title.
							<span class="text_color_blue text_block">POPULAR</span> WATCH
						p.section__text.
							Breguet's philosophy can be defined as a tireless process 
							of creative search and implementation of innovations, 
							the desire to always be one step ahead of its era and 
							at the same time strictly comply with the technical and 
							aesthetic standards developed by A.L. Breguet and 
							laid the foundations of modern watchmaking.	
					.section__circle.section__circle_left
						include ../blocks/components/circle/circle
							block circle__item
								button.section__btn.btn
									p full shop
									.circle__icon.
										<img src="/img/arrow.png" alt="">
				.section__list.section__slider
					- var list = ['7137', '7138', '7139', '7140', '7141', '7142']	
					each item in list
						- var img = "/img/catalog/classic" + item + ".jpg"
						.section__slide
							img(src=img, alt="")
							.section__slideInfo
								p CLASSIQUE
								span.text_block=item
		- sectionClass = " section section_relative"
		include ../blocks/modules/section/section
			h2.section__title.section__title_big BREGUET
				span.text_block WATCH
			.section__circle.section__circle_center
				include ../blocks/components/circle/circle
					block circle__item
						button.section__btn.btn
							p play
							.circle__icon.
								<img src="/img/arrow-right.png" alt="">
		- sectionClass = "section section_bg"
		include ../blocks/modules/section/section
			.section__info
				h2.section__title.section__title_small.
					BREGUET UNVEILS THE <span class="text_color_blue">BLUE</span> 
					VERSION OF ITS CLASSIQUE TOURBILLON 
					EXTRA-PLAT <span class="text_color_blue">AUTOMATIQUE</span>
				a.section__link(href="/") learn more 
					img(src="/img/arrow_blue.png", alt="")
			picture.section__picture
				source(media="(min-width: 768px)", srcset="/img/clock-background.jpg")
				img(src="/img/clock-background-mobile.jpg", alt="")
	include ../blocks/modules/footer/footer
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")