div(class="info-block" + infoClass)
    each val in info
        .info-block__item
            p.info-block__title=val.title
            p.info-block__text=val.fLine
                span.text_block=val.sLine